#capa1{
    background-color: #333;
    color: #fff;
    width: 25vw;
    height: 25vw;
    border-style: dashed;
    border-width: 5px;
    border-color: #fff;
    border: 5px solid;
    border-radius: 10%;
    border-top-color: #f00;
    border-right-color: #0f0;
    border-bottom-color: #f00;
    border-left-color: #0f0;
    padding-left: 5%;
    padding-right: 5%;
    box-sizing: border-box;
}
#capa2 {
    background-color: #ccc;
    color: #333;
    width: 25vw;
    height: 25vw;
    border: 2px solid #fff;
    margin-top: 10px;
    overflow: auto; /*para que no se rebalse el texto*/
}
#uno {background-color: #f00;}
#dos {background-color: #0f0;}
#tres {background-color: #00f;}

#uno,#dos,#tres {
    width: 200px;
    height: 200px;
    padding: 10px;
    margin: 5px;
    box-sizing: border-box;
    float: right;
}

h3{
    color: #fff;
    font-size: 55px;
    text-align: center;
}

body{
    background-color: #b6d6f2;
    background-image: url('../img/fondo.webp');
    background-attachment: fixed; /*hace que la imagen del fondo no se mueva*/
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}